<span class="application">
  <div class="application-head">
    <span class="application-title">Cite<sup>?</sup></span>
    <span class="application-help">
      save a page snapshot via WebCite

      <code>
	cite|archive &lt;URL&gt; [note] #hashcatch
      </code>
    </span>
  </div>

  <div style="clear:both;"></div> <!-- TODO http://stackoverflow.com/questions/6681768/how-to-not-use-div-class-clear-in-markup -->

  <%= app.entries.each_or_message do |entry| %>
  <li>
    <a href="<%= entry.url %>"><%= entry.url %></a>
    <% if entry.note %>
      <em>[<%= entry.note %>]</em>
    <% end %>

    <% if entry.archived? %>
    <em>[<a href="<%= entry.archive_url %>">archived</a>]</em>
    <% else %>
    <em>[archiving...]</em>
    <% end %>
  </li>
  <% end %>


</span>
