<h1 id="username"><a href="https://twitter.com/beneills"><%= "@#{@user.username}" %></a></h2>

<% @categories.each do |title, entries| %>
    <h5><%= title.pluralize.capitalize %></h5>
    <ol>
      <li><%= entries[1].text %></li>
      <li><%= entries[2].text %></li>
      <li><%= entries[3].text %></li>
    </ol>
<% end %>

<%= "No data!" if @categories.empty? %>

<br /><br />

<a href="/">back</a>
