
<div id="help">
  <div id="help-text">
  <div id="help-text-inner">
    <h4 id="help-tagline">
      <em>HashCatch lets you control stuff through your regular tweets</em>
    </h4>

    For example, you tweet this:

    <blockquote class="twitter-tweet"><p>#2 book is Huckleberry Finn <a href="https://twitter.com/search?q=%23HashCatch&amp;src=hash">#HashCatch</a></p>&mdash; Ben Eills (@beneills) <a href="https://twitter.com/beneills/statuses/381105085213716480">September 20, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    and HashCatch undertstands you:
<br />
<br />
TODO

<button id="help-dismiss">Dismiss</button>
  </div>
  </div>
  <!-- <%= image_tag("arrow.png", :alt => "How do I HashCatch?", :id => "arrow") %> -->
  <button id="arrow">show</button>
</div>

<div id="index-body">
  <ul id="recent-list">
    <li>
    <form class="pure-form">
      <div id="tweet-body-expander">
	  <input id="tweet-body" type="text" placeholder="My #1 book is To Kill a Mockingbird">
      <div id="test">
	<a href="https://twitter.com/intent/tweet?button_hashtag=HashCatch&text=hello%20world" target="_blank">
	  <%= image_tag("tweet-button.png", :alt => "Tweet #HashCatch", :id => "tweet-button") %>
	</a>

	<!-- <a href="https://twitter.com/intent/tweet?button_hashtag=hashcatch&text=My%20%231%20book%20is%20To%20Kill%20a%20Mockingbird" class="twitter-hashtag-button" data-size="large" data-related="hashcatch" data-url="http://hashcatch.com">Tweet #hashcatch</a> -->
	<!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> -->
      </div>
      

      </div>
    </form>
    </li>


    <% @recent.each do |e| %>
      <li>
	<span class="username">
	  <%= link_to "@#{e.user.username}", "/#{CGI.escape e.user.username}" %>
	</span>
	my
	<strong>
	  <%= "##{e.place}" %>
	</strong>
	favorite
	<strong>
	  <%= "#{e.category}" %>
	</strong>
	is
	<strong>
	  <%= "#{e.text}" %>
	</strong>

    <% end %>
    
  </ul>

</div>

