<!DOCTYPE html>
<html>
  <head>
    <title>HashCatch</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="container">
	<%= link_to( image_tag("logo-300.png", :alt => "HashCatch", :id => "logo"), "/") %>

	<span id="tagline">
	  Semanticize your tweets.
	</span>

	<div style="clear:both;"></div> <!-- TODO http://stackoverflow.com/questions/6681768/how-to-not-use-div-class-clear-in-markup -->
      </div>
    </header>

    <div id="main-content" class="container">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
	<!-- <div id="footer-centre"> -->
	<!--   <div id="footer-right"><%= link_to "About", controller: "welcome", action: "about" %></div> -->
	<!--   Ben Eills, 2013 -->
	<!-- </div> -->
	Ben Eills, 2013
	<span id="about-link"><%= link_to "About", controller: "welcome", action: "about" %></span>
      </div>
    </footer>
  </body>
</html>
